<!-- app/templates/application.hbs -->
<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="#">My App</a>
		</div>
		<div class="navbar-right search-field">
			{{#bs-form formLayout="inline" action="search"}}
				{{#if filteredPhotos}}
					{{bs-input type="text" value=searchField placeholder="filter photos"}}
				{{/if}}
				{{bs-input type="text" value=tagSearchField action="search" placeholder="search for a flickr tag"}}
				<button type="submit" class="btn btn-default">
				<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
				</button>
			{{/bs-form}}
		</div>
	</div>
</nav>

<div class="container">

	{{#liquid-if filteredPhotosLoaded use= "toDown"}}
		<ul class="list-group">
			{{#each photo in filteredPhotos}}
			<li class="list-group-item">
				<div class="media">
					<div class="media-left media-middle">
						{{light-box href=photo.url data-lightbox=photo.id data-title=photo.title
						data-class="media-object feed-img"}}
						Taken: <a href={{photo.link}}>{{photo.humanReadableDate}}<br></a>
						By: <a href={{photo.ownerurl}} target="_blank">{{photo.owner.username}}</a><br>
						At: {{photo.locality}},  {{photo.region}},  {{photo.country}} 
					</div>
					<div class="media-body">
						<h4 class="media-heading">{{photo.title}} ({{photo.views}} Views)</h4>
						{{{photo.description}}}
					</div>
				</div>
				<br>
				<div class="row">
					<div class="col-md-1 col-xs-1 col-sm-1">Tags:</div>
					<div class="col-md-11 col-xs-11 col-sm-11">
						{{#each tag in photo.tags}}
							<button class="btn btn-info btn-xs post-tag-button" {{action "clicktag" tag}}>#{{tag}}</button> 
						{{/each}}
					</div>
				</div>
			</li>
			{{/each}}
		</ul>
	{{else}}
		{{#liquid-if loading}}
			<img src="../page-loading.gif" class="img-responsive center-block"/>
		{{else}}
			<div class="jumbotron">
				<h1>The overly impressive Assignment #1</h1>
				<p>Created by Bryan Wilwerding</p>
				<p>Click one of the popular flickr tags below or search one above:</p>
				{{#each tag in tagList}}
					<button class="btn btn-info btn-small tag-button" {{action "clicktag" tag}}>#{{tag}}</button>
				{{/each}}
			</div>
		{{/liquid-if}}
	{{/liquid-if}}
</div>